input{
    margin-top: 40px;
    width: 300px;
    height: 35px;
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 2px solid  crimson;
    
    
    
    
}
input::placeholder{
    color: white;
font-size: 18px;
font-weight: bold;
font-style: italic;
padding-left: 10px;

/* text-align: center; */
    
}


h1{
    color:white;
    font-size: 38px;
}

.container{
    /* position: absolute;
    top: 50px;
    left: 500px; */

   margin-left: 500px;
    
   

    
}
body{

  background-color: black;

}
button{
  
   margin-left: 98px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border: 3px solid  crimson;
    border-radius: 20px;
    color: white;
  
    cursor: pointer;
    text-align: center;
  background: none;
  font-weight: bold;
  font-size: 18px;
  
}

input:hover{
    border: 3px solid  crimson;
    border-radius: 20px;
    border-style: dotted;
}

.circle-shape{
    height: 50px;
    width: 50px;
    background-color:blue;
    border-radius: 50%;
    margin-top: 20px;
}

.square-shape{
    height: 50px;
    width: 50px;
    background-color:blue;
    margin-top: 20px;
  
}
.rectangle-shape{
    height: 50px;
  width: 100px;
    background-color:blue;
    margin-top: 20px;
  
}
.flex{
    margin-top: 30px;
  

}


